@import "~assets/less/mixins.less";
@import "~assets/less/reset.less";

@import "~assets/less/fonts.less";
@import "~assets/less/pictures.less";
@import "~assets/less/ui-elements.less";

body,
html {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body {
  background-color: @greyLight;
  color: @blueGrey;
  font-size: 14px;
  font-weight: 400;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }  
}

.layout {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  &:after {
    content: '\e903';
    display: inline-block;
    font-family: 'icons';
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    color: #c0c6ce;
    .animation( spin 1s steps(12) infinite );
  }
  &:before {
    content: '\e929';
    display: inline-block;
    font-family: 'icons';
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -81px;
    margin-top: -81px;
    color: #c0c6ce;
  }
  &.loaded {
    &:before,
    &:after {
      display: none;
    }
  }
}

/deep/ .form {
  &.with-background {
    background-color: #fff;
    box-shadow: 0 6px 9px 0 rgba(190, 204, 211, 0.46);
    max-width: 402px;
    margin: 127px auto 15px auto;
    padding: 49px 50px;
    border-radius: 3px;
    border: 1px solid #aebcc6;
  }

  .form-info {
    font-size: .95em;
    margin: 2px 45px 30px 45px;
    line-height: 25px;
  }
  .form-error {
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
    // opacity: 0;
    // z-index: -1;
    position: relative;
    // max-height: 0;
    max-width: 50%;
    // overflow: hidden;
    .font(#ff6c6c, .8em, center, 15px);
    -webkit-transition : all .1s linear, max-width .2s linear;
    -moz-transition    : all .1s linear, max-width .2s linear;
    -o-transition      : all .1s linear, max-width .2s linear;
    -ms-transition     : all .1s linear, max-width .2s linear;
    transition         : all .1s linear, max-width .2s linear;
    // &.error {
    //   opacity: 1;
    //   z-index: 1;
    //   max-height: 100px;
    //   max-width: 100%;
    //   -webkit-transition : all .3s linear, max-width .1s linear;
    //   -moz-transition    : all .3s linear, max-width .1s linear;
    //   -o-transition      : all .3s linear, max-width .1s linear;
    //   -ms-transition     : all .3s linear, max-width .1s linear;
    //   transition         : all .3s linear, max-width .1s linear;
    // }
  }
  .form-fieldset {
    position: relative;
  }
  .form-label {
    display: block;
    .font(@blueGrey, 14px, left, 18px, 600);
  }
  .form-field-error {
    position: absolute;
    top: 1px;
    right: 0;
    .font(@redBright, 11px, right, 18px, 600);
  }
  .error.shake > .form-field-error {
    .animation(shake 0.82s cubic-bezier(.36,.07,.19,.97) both);
  }
  .form-field {
    display: table;
    width: 100%;
    margin-top: 14px;
  }
}

/deep/ .form-part{
  position: relative;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  .transition(all .2s linear);

  &.visible {
    opacity: 1;
    max-height: 2000px;
    z-index: 1;
    .transition(all .2s .2s linear);
  }
}

@-webkit-keyframes shake{
  10%, 90% {
    transform: translate(-1px, 0);
  }
  
  20%, 80% {
    transform: translate(2px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }

  40%, 60% {
    transform: translate(4px, 0);
  }
}

@keyframes shake{
  10%, 90% {
    transform: translate(-1px, 0);
  }
  
  20%, 80% {
    transform: translate(2px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }

  40%, 60% {
    transform: translate(4px, 0);
  }
}

.popup-form {
  height: auto;
  width: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding-top: 25px;
  .popup-input-group {
    padding-bottom: 20px;
    text-align: left;
    &.category {
      padding-bottom: 12px;
      .tag-rounded {
        margin-bottom: 8px;
      }
    }
    &.textarea {
      padding-bottom: 14px;
      .input {
        height: auto;
        line-height: 40px;
        max-width: 450px;
      }
    }
    &.error {
      .drw-completer {
        background-color: rgba(252, 48, 54, 0.03);
        border-color: #ff2e2e;
        color: #ff2e2e;
      }
    }
    .drw-checkbox {
      margin: 9px 0 13px 0;
    }
    .popup-input-title {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      color: #41515e;
      text-align: left;
      padding-bottom: 5px;
    }
    .popup-input-field {
      .completer-arrow {
        right: 9px;
        top: 16px;
      }
      input {
        line-height: 15px;
      }
      .popup-input-field-domain,
      .popup-input-field-site {
        margin-bottom: -1px;
      }
      .popup-input-field-price {
        font-size: 13px;
        width: 97px;
      }
    }
    .popup-input-description {
      font-size: 13px;
      line-height: 1.46;
      color: #7b858d;
      text-align: left;
      padding-top: 6px;
    }
    .popup-input-group-second-level {
      &.hidden {
        display: none;
      }
    }
    .tag-rounded {
      margin-right: 10px;
      min-width: auto;
      font-size: 13px;
      .title {
        line-height: 28px;
      }
      .close {
        padding: 0 11px;
      }
    }
  }
  .popup-submit-buttons {
    margin-top: 20px;
    text-align: right;
    .btn {
      margin-left: 9px;
    }
  }
  .popup-form-fieldset {
    display: table;
    width: 100%;
    margin-top: 10px;
    position: relative;
  }
  .label,
  .control,
  .dropdown,
  .drw-completer
  lqs-range-selector {
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }
  .label {
    padding-top: 4px;
    height: 100%;
    width: 32.5%;;
    .font(#454b55, .9em, left, 20px);
  }
  .control .input {
    width: 100%;
  }
  .control {
    width: 67.5%;
  }
  .control {
    & > .icon-spin {
      display: none;
      position: absolute;
      top: 7px;
      right: 32%;
      font-size: 20px;
      z-index: 2;
      color: #c0c6ce;
    }
    &.updating > .icon-spin {
      display: inline-block;
    }
  }
  .dropdown,
  .drw-completer {
    width: 100%;
    display: block;
  }
  dropdown.select.select-period .dropdown{
    ul {
      width: 100px;
      left: -18px;
     }
     a {
      font-size: 13px;
      padding: 10px 12px;
      padding-left: 12px;
     }
  }
  dropdown.error .dropdown{
   border-color: #ff6c6c;
   .transition(all 0.2s linear);
  }
  lqs-range-selector.error .lqs-range-selector{
   border-color: #ff6c6c;
   .transition(all 0.2s linear);
  }
  .popup-form-fieldset.error .drw-completer,
  .popup-form-fieldset.error .drw-completer:hover {
    box-shadow: none;
    border: solid 1px #ff6666;
    color: #ff6666;
  }
  .popup-form-error {
    padding: 0 5px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    right: 26px;
    top: -6px;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    .font(#ff6666, .7em, center, 13px);
    -webkit-transition : all .1s linear;
    -moz-transition    : all .1s linear;
    -o-transition      : all .1s linear;
    -ms-transition     : all .1s linear;
    transition         : all .1s linear;
  }
  .popup-form-fieldset.error .popup-form-error {
    opacity: 1;
    z-index: 1;
    max-height: 100px;
    max-width: 100%;
    -webkit-transition : all .1s linear;
    -moz-transition    : all .1s linear;
    -o-transition      : all .1s linear;
    -ms-transition     : all .1s linear;
    transition         : all .1s linear;
  }
  .countries .btn.btn-closable {
    margin: 15px 14px 0 0;
  }
}
.popup-form-submit {
  .icon.icon-spin,
  .icon.icon-trash {
    display: none;
  }
  .icon.icon-spin {
    display: none;
    font-size: 20px;
    line-height: 18px;
    position: relative;
  }
  .icon.icon-trash {
    font-size: 1.1em;
    line-height: 32px;
  }
  .popup-form-submit-text {
    display: inline;
  }
  &.submitting {
    padding-top: 8px;
    .icon.icon-spin {
      display: inline-block;
    }
    .icon.icon-trash,
    .popup-form-submit-text {
      display: none !important;
    }
  }
}
