.admin-page-header.all-channels
  .clearfix
    .page-title
      | All Items

.admin-content.statistic
  drw-statistic(
    [category]="'Channel'",
    [categoryName]="'All Channels'",
    [charts]="charts",
    [archived]="0")