html
  head
    base(href="/")
    title Darwin
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"  rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //- - Polyfills for older browsers
    script(src="//cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en")
  body(app)
